html { padding: 0px !important; margin-top: 0px !important;}
body {width: 100vw; max-width: 980px; margin: 0 auto; font-family: 'Nanum Myeongjo', serif;
 color: #3c3c42; font-weight: 100; line-height: 1.6; background-color: #f0f2f5; margin-top: 0px; padding: 0px !important;}
.section {text-align: center;}
#section1 {background-image: url("https://yunkom.github.io/june29/main.png"); 
background-size: cover; margin-top: 0px; height: 800px; padding-top: 40px;}
#section4 {text-align: left; margin-left: 40px; max-width: 980px; margin: 0 auto;}
h2 {font-weight: 100;}
h3 {font-weight: 100; line-height: 0.6;}
h4 {font-weight: bold; line}
a {color: #3a4961; text-decoration: none;}
